/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

#cart-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: black;
    transition: color 0.3s;
}

#cart-icon:hover {
    color: #28a745;
    /* Hover effect */
}

/* Product List */
.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

/* Cart Panel */
.cart-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 100;
}

.cart-panel h2 {
    margin-top: 0;
}

.cart-panel button {
    background-color: #dc3545;
}

.cart-panel button:hover {
    background-color: #c82333;
}

/* Responsive Cart */
@media screen and (max-width: 768px) {
    .cart-panel {
        right: -100%;
    }

    #cart-panel {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
        max-height: 400px;
        transition: bottom 0.3s ease;
    }
}